.vertical-menu {
  position: relative;
  right: 250px;
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #fff;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}
