.drawing {
  vertical-align:top;
}

#image-canvas{
  border:1px solid #000000; 
  margin-top:1em;
}

.vertical-menu {
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #fff;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}
